/* Should Only Have Flex Applied To Its Contents */
#gradient-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    position:fixed;
    top: 0px;
    left: 0px;
}

body {
    background-image: url("/assets/background_characterspread.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

/* ! TO BE ADJUSTED !!!*/
.left-gradient {
    height: 100vh;
    width: 300px;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

.right-gradient {
    height: 100vh;
    width: 300px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(0, 0, 0));
}

/* * MAIN BODY CONTAINER */
#main-body-container {
  position: relative;
}

#gif-box-1 {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    left: 520px;
    top: 460px;
    border-image: url("/assets/border1_fill.png")  0 0 0 0 fill / 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gif-box-2 {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    position: absolute;
    left: 520px;
    top: 100px;
    border-image: url("/assets/border1_fill.png")  0 0 0 0 fill / 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * MAIN TEXT BODY CONTAINER */
/* Reference settings: position: initial; hw set to some px count*/
#main-tab-container {
    height: 600px;
    width: 430px;
    border: 1px solid black;
    position: absolute;
    left: 750px;
    top: 30px;
    border-image: url("/assets/border2_fill.png") 23 28 26 26 fill / 23px 28px 26px 26px;
    padding: 23px 28px 26px 26px;
    border-image-repeat: repeat;
    padding: 40px;
}

#main-tab-button-container {
    display: flex;
    flex-direction: row;
    height:auto;
    width: auto;
    padding: 10px;
    gap: 10px;
    padding: 10px;
}

a {
    color: rgb(190, 232, 218);
}

.main-tab-button {
    height: 20px;
    width: auto;
    border: 1px solid black;
    padding: 5px;
    transition: background-color 0.3s ease
}

.main-tab-button:hover {
    background-color: #414a1d;
}

#main-tab-body-container-1 {
    font-size: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    height:inherit;
    width: auto;
    padding: 10px;
    gap: 15px;
    position: relative;
    line-height: 3;
}

.item2 {
  top: 20px;
  left: 40px;
  position: absolute;
  background: red;
}



